In [9]:
import pandas as pd
import os
from sklearn.datasets import load_iris
import seaborn as sns

In [10]:
if not os.path.exists("./data"):
    os.mkdir("data")

In [11]:
#load and process iris data
iris = load_iris()

df = pd.DataFrame(
    iris.data, 
    columns=iris.feature_names
    )

df['target'] = iris.target

# Map targets to target names
target_names = {
    0:'setosa',
    1:'versicolor', 
    2:'virginica'
}

df['target_names'] = df['target'].map(target_names)

#clean up column names
df.columns = [col.replace(' ', '_') for col in df.columns]
df.columns = [col.replace('(',  '') for col in df.columns]
df.columns = [col.replace(')',  '') for col in df.columns]

df.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [12]:
#save to csv
df.to_csv('data/data_iris.csv', sep='\t',index=False)

In [13]:
#load and save titanic
df = sns.load_dataset('titanic')
df.to_csv('data/data_titanic.csv', sep='\t',index=False)